body        {
    color: #333;
    background: rgb(233, 228, 215);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3em;
}

a {
    color: #000000;
}

a.link-category.small {
    font-size: 13px;
    font-style: underline;
}

a.link-category:hover,
a.link-category.small:hover {
    color: #aaaaaa;
    text-decoration: none;
}

a.nav-item.nav-link {
    text-transform: uppercase;
}

input {
    margin: 5px;
}

.navbar-nav .navbar-right {
    display: block;
}

.cb-toggle {
    cursor: pointer;
    height: 23px;
    margin-right: 15px;
    width: 23px;
}

.filter-category {
    margin-bottom: 5px;
}

.link-category {
    line-height: 1em;
    font-weight: 600;
    font-size: 11px;
    /* text-transform: uppercase !important; */
}

.entries {
    height: 480px;
    overflow-y: scroll;
}

.blogEntry {
    margin: 15px;
}

span.blogEntryTitle{
    font-weight: 900;
}

.col-tags {
    font-weight: 700;
    padding: 15px;
    text-align: left;
}

.col-content {
    background: #FFFFFE;
    font-size: 12px;
    margin-left: 25px;
    padding: 25px;
}

.col-sidebar {
    padding: 15px;
}

.header {
    margin-bottom: 25px;
    padding: 35px 50px;
}

.img-fluid {
    max-width: 100%;
    height: 100px;
    width: 200px;
}

.navbar-nav {
    background-color: E6E1CE;
    float: right;
}

.navigation {
    text-align: right;
}

.txt-category-title{
    display: block;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
        margin-right: 20px;
    }
}

@media (max-width: 767px) {
    .col-content {
        margin-left: 0 !important;
    }
}