body {
	color: #333;
	background: rgb(233, 228, 215) !important;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.3em;
}

a {
	color: #555555 !important;
}

a.link-category:hover,
a.link-category.small:hover {
	color: #aaaaaa;
	text-decoration: none;
}

a.nav-item.nav-link {
	text-transform: uppercase;
}

input {
	margin: 5px;
}

/* nav {
	height: 100px;
} */

span.blogEntryTitle {
	font-weight: 900;
}

.blogEntry {
	margin: 15px;
}

.cb-toggle {
	cursor: pointer;
	height: 23px;
	margin-right: 15px;
	width: 23px;
}

.col-content {
	background: #FFFFFF;
	font-size: 12px;
	padding: 25px;
}

.col-sidebar {
	display: block;
	padding: 15px;
}

.col-tags {
	font-weight: 700;
	padding: 25px;
}

.entries {
	height: 75vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.filter-category {
	margin-bottom: 5px;
}

.header {
	padding: 35px 50px;
}

.img-fluid {
	margin: 15px 0;
	max-width: 100%;
	width: 200px;
}

.link-category {
	line-height: 1em;
	font-weight: 600;
	font-size: 14px;
}

.navbar-nav.ml-auto {
	float: right !important;
}

.navigation {
	text-align: right;
}

.section {
	margin: 25px 0;
}

/* The side navigation menu */

.sidenav {
	height: 100%;
	/* 100% Full-height */
	width: 0;
	/* 0 width - change this with JavaScript */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Stay on top */
	top: 0;
	right: 0;
	background-color: #111;
	/* Black*/
	overflow-x: hidden;
	/* Disable horizontal scroll */
	padding-top: 60px;
	/* Place content 60px from the top */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in the sidenav */
}

.sidenav h7,
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 21px;
	color: #818181;
	display: block;
	transition: 0.3s
}

.sidenav h7 {
	margin-bottom: 25px;
	text-transform: uppercase;
}


/* The navigation menu links */

.sidenav a {
	font-size: 16px;
}

.sidenav a:hover,
.offcanvas a:focus {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sidenav .link-category {
	color: #ffffff;
	/* font-size: 0.8rem; */
}

.txt-category-title {
	display: block;
	font-weight: 900;
	text-transform: uppercase;
}

#btn-sidenav {
	margin: 25px 0;
}

#main {
	transition: margin-right .5s;
	padding: 20px;
}

@media screen and (max-width: 767px) {
	#btn-sidenav {
		display: block;
	}
	#select-categories {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	#btn-sidenav {
		display: none;
	}
	#select-categories {
		display: block;
	}

	#mySidenav {
		display: none;
	}
}