body        {
    color: #333; 
    background: #E6E1CE;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.3em;
}

a {
    color: #000000;
}

input {
    margin: 5px;
}

.link-category {
    line-height: 1em;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase !important;
}

a.link-category.small {
    font-size: 13px;
    font-style: underline;

}

a.link-category:hover,
a.link-category.small:hover {
    color: #aaaaaa;
    text-decoration: none;
}

a.nav-item.nav-link {
    text-transform: uppercase;
}

.navbar-nav .navbar-right {
    display: block;
}

span.blogEntryTitle{
    font-weight: 900;
}

.blogEntry {
    margin: 15px 0;
}

.col-category {
    font-weight: 700;
    padding: 15px;
    text-align: left;
}

.content {
    background: #FFFFFE;
    font-size: 12px;
    padding: 25px;
}

.header {
    margin-bottom: 50px;
    padding: 35px 50px;
}

.img-fluid {
    max-width: 100%;
    height: 100px;
    width: 200px;
}

.navbar-nav {
    background-color: E6E1CE;
    float: right;
}

.navigation {
    text-align: right;
}

.txt-category-title{
    font-weight: 900; 
    text-transform: uppercase;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: block!important;
        margin-right: 20px;
    }
}

@media (max-width: 767px) {
    .sidebar {
        position: relative !important;
        top: 0 !important;
        right: 0 !important;
        z-index: 0 !important;
    }

    #sideMenu {
        bottom: 100px !important;   
        display: block !important;
        position: fixed !important;
        right: 20px !important;
        /* Safari */
        -webkit-transform: rotate(-90deg);

        /* Firefox */
        -moz-transform: rotate(-90deg);

        /* IE */
        -ms-transform: rotate(-90deg);

        /* Opera */
        -o-transform: rotate(-90deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

   }
}

.sidebar {
    position: fixed;
    top: 240px;
    right: 0;
    z-index: 1030;
}

.checkboxstyle {
    border: black;
}

#myBtn {
    display: none;
    background-image: url("");
    background-color: black;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
  }

#sideMenu {
    display: none;
}