<!DOCTYPE html>
<html>

<head>
	<title>Physical to Digital - Sammlung von Gestaltungslösungen.</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Eine Sammlung von Gestaltungslösungen am physikalisch-digitalen Übergang mit Unterscheidung zwischen Wissenschaftskategorie und Datenrelation."
	/>

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	  crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	  crossorigin="anonymous"></script>
	<script src="js/main.js"></script>
	<script src="js/sidenav.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container">
			<img src="images/logo_phy-di	.png" class="navbar-brand img-fluid" alt="phy2diLogo">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNav"
			  aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbarNavAltMarkup">
				<ul class="nav navbar-nav ml-auto">
					<li>
						<a class="nav-item nav-link active" href="index.html"> Sammlung </a>
					</li>
					<li>
						<a class="nav-item nav-link" href="projekt.html">Das Projekt</a>
					</li>
					<li>
						<a class="nav-item nav-link" href="kontakt.html">Kontakt</a>
					</li>
					<li>
						<a class="nav-item nav-link" href="impressum.html">Impressum</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="content" ng-app="myApp" ng-controller="blogCtrl">
		<div id="main">
			<div class="container">
				<div class="row">
					<button id="btn-sidenav" type="button" class="btn btn-dark" onclick="openNav()">Kategorien</button>
				</div>
				<div class="row">
					<div class="entries col-md-8">
						<div class="blogEntry row" ng-repeat="x in names | filter:filterFn">
							<div class="col-md-1 col-tags">
								<span class="tag">{{ x.Wkkurz }}</span>
							</div>
							<div class="col-content col-md-11">
								<div class="row">
									<div class="col-md-8">
										<h2>{{ x.Titel }}</h2>
										<p class="txt-abstract">{{ x.Abstract }}</p>
										<span class="blogEntryTitle">Funktionsweise</span>
										<p class="txt-functioning">{{ x.Funktionsweise }}</p>
										<span class="blogEntryTitle">Übergang</span>
										<p class="txt-datarelation">{{ x.Uebergang }}</p>
										<span class="blogEntryTitle">Wissenschaftskategorie</span>
										<p class="txt-category">{{ x.Wissenschaftskategorie }}</p>
										<span class="blogEntryTitle">Datenrelation</span>
										<p class="txt-datarelation">{{ x.Datenrelation }}</p>
										<span class="blogEntryTitle">Referenzen</span>
										<br>
										<a href="{{ x.Weblink }}" target="_blank" class="txt-sources">{{ x.Weblink }}</a>
										<p class="txt-paper">{{ x.Paper }}</p>
									</div>
									<div class="col-md-3 offset-1">
										<p>
											<img class="img-thumbnail" src="{{ x.Abbildung }}" alt="{{ x.Titel }}">
										</p>
										<span class="blogEntryTitle">Hardware</span>
										<p class="txt-hardware">{{ x.Hardware }}</p>
										<span class="blogEntryTitle">Software</span>
										<p class="txt-software">{{ x.Software }}</p>
										<span class="blogEntryTitle">Weitere Materialien</span>
										<p class="txt-material">{{ x.Material }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="select-categories" class="col-md-3 offset-1">
						<h7 class="txt-category-title">Kategorien</h7>
						<div class="filter-category" ng-repeat=" x in names | unique: 'Wissenschaftskategorie' | orderBy: ''">
							<div class="row">
								<div class="col-sm-2">
									<img class="cb-toggle" ng-src="images/cb-toggle-off.png" alt="{{ x.Wissenschaftskategorie }}" ng-click="filterChange($event)"></img>
								</div>
								<div class="col-sm-10">
									<span class="link-category">{{ x.Wissenschaftskategorie }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- sidenav -->
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<div class="container">
				<h7>Kategorien</h7>
				<div class="filter-category" ng-repeat=" x in names | unique: 'Wissenschaftskategorie' | orderBy: ''">
					<div class="row">
						<div class="col-sm-2">
							<img class="cb-toggle" ng-src="images/cb-toggle-off_white.png" alt="{{ x.Wissenschaftskategorie }}" ng-click="filterChange2($event)"></img>
						</div>
						<div class="col-sm-9">
							<span class="link-category">{{ x.Wissenschaftskategorie }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>